# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
env/
venv/
.venv/

# Ignore environment variable files
# .env

# Ignore Django migration files
*/migrations/*

# Ignore database files
*.sqlite3

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore system specific files
.DS_Store

# Ignore static files
staticfiles/
staticfiles_build/

# Ignore coverage reports
coverage/
*.cover

# Ignore other files
node_modules/
*.log
